In [18]:
import pandas as pd # type: ignore

#abrindo a tabela do excel
dados=pd.read_excel('paralimpiadas.xlsx')
dados.head()

#transformando algumas colunas em lista
ouro=dados['Medalha de ouro'].tolist()
prata=dados['Medalha de prata'].tolist()
bronze=dados['Medalha de bronze'].tolist()

#criando listas para as transformações
L_prata_ouro=[]
L_bronze_ouro=[]

#transformando prata em ouro, arredondando os valores e adicionando na lista
for item in prata:
     prata_ouro=item/1.5
     arredonda=round(prata_ouro, 2)
     L_prata_ouro.append(arredonda)

#transformando bronze em ouro, arredondando os valores e adicionando na lista
for item in bronze:
     bronze_ouro=item/3
     arredonda2=round(bronze_ouro, 2)
     L_bronze_ouro.append(arredonda2)

#criando um DataFrame para somar as duas listas
df=pd.DataFrame(zip(L_bronze_ouro, L_prata_ouro),
                       columns=['bronze_ouro', 'prata_ouro'])

df['total']=df['bronze_ouro']+df['prata_ouro']

#transforma a coluna recém-criada "total" em lista 
total=df['total'].tolist()

#transforma a lista "total" em uma coluna da tabela "dados" e soma a nova coluna com "Medalha de ouro"
dados['total']=total
dados['total de Ouros']=dados['Medalha de ouro'] + dados['total']

#ordena os valores da coluna "total de Ouros" para verificar a ordem dos países em relação a quantos ouros ganharam
dados = dados.sort_values(by='total de Ouros', ascending=False)
dados.head(20)

,Ordem por ouros,País,Medalha de ouro,Medalha de prata,Medalha de bronze,Total,Ordem por total,total,total de Ouros
0,1,China,94,76,50,220,1,67.34,161.34
1,2,Grã-Bretanha,40,44,31,124,2,39.66,79.66
2,3,Estados Unidos,36,42,27,105,3,37.00,73.00
4,5,Brasil,25,26,38,89,4,30.00,55.00
6,7,Ucrânia,20,28,32,82,5,29.34,49.34
7,8,França,19,28,28,75,6,28.00,47.00
5,6,Itália,24,15,32,71,7,20.67,44.67
3,4,Países Baixos,27,17,12,56,9,15.33,42.33
8,9,Austrália,18,17,28,63,8,20.66,38.66
10,11,Alemanha,10,14,25,49,10,17.66,27.66
9,10,Japão,14,10,17,41,11,12.34,26.34
16,17,Espanha,7,11,22,40,12,14.66,21.66
11,12,Canadá,10,9,10,29,15,9.33,19.33
12,13,Uzbequistão,10,9,7,26,19,8.33,18.33
20,21,Tailândia,6,11,13,30,13,11.66,17.66
21,22,Coreia do Sul,6,10,14,30,13,11.34,17.34
17,18,Índia,7,9,13,29,15,10.33,17.33
13,14,Irã,8,10,7,25,20,9.00,17.00
22,23,Turquia,6,10,12,28,17,10.67,16.67
18,19,Colômbia,7,7,14,28,17,9.34,16.34